*.pyc
__pycache__
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.git
.gitignore
.github
README.md
CHANGELOG.md
CONTRIBUTING.md
LICENSE.md
tests/
docs/
*.md 